/*--------------------------
 error
----------------------------*/
.error {
	@at-root {
		& {
  		padding: 20px 0 240 / 1500 * 100%;
  		background: url(../images/bg_error.jpg) no-repeat center center;
  		background-size: cover;
  		.breadclumb {
    		margin-bottom: 160 / 1100 * 100%;
        @include mix_mediaSp {
      		margin-bottom: get_vw(70);
        }
  		}
      @include mix_mediaSp {
  	  	padding: get_vw(20) 0 get_vw(100);
      }
    }
    .error__head {
			margin-bottom: 40 / 1100 * 100%;
			font-size: 7rem;
			line-height: 1;
			text-align: center;
  		@include mix_mediaSp {
  	  	margin-bottom: get_vw(30);
				@include fontSize(40);
      }
			.bold {
				font-weight: 700;
			}
			.italic {
				font-weight: 300;
				font-style: italic;
			}
    }
    .error__txt {
      margin-bottom: 90px;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
  		@include mix_mediaSp {
  	  	margin-bottom: get_vw(65);
				@include fontSize(13);
      }
    }
		.error__button {
			.button__item {
				max-width: 447px;
    		@include mix_mediaSp {
    	  	max-width: get_vw(244);
        }
			}
		}
	}
}

  		