/*--------------------------
 footer
----------------------------*/
.footer {
	@at-root {
		& {
		}
		.footer__wrap {
  		padding: 90px 0;
  		background-color: #fff;
  		@include mix_mediaSp {
  		  padding: get_vw(40) 0;
      }
		}
		.footer__pagetop {
  		position: fixed;
  		right: 60px;
  		bottom: 90px;
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		width: 60px;
  		height: 60px;
  		border-radius: 50%;
  		background-color: #000;
  		z-index: 50;
  		&::before {
    		content: "";
    		display: block;
    		width: 0;
    		height: 0;
    		margin-top: -6px;
    		border: 6px solid transparent;
    		border-bottom: 10px solid #fff;
  		}
  		@include mix_mediaTb {
    		right: get_vw(10);
    		bottom: get_vw(6);
      }
  		@include mix_mediaSp {
    		position: static;
    		width: get_vw(36);
    		height: get_vw(36);
    		margin: 0 auto get_vw(22);
    		&::before {
      		margin-top: get_vw(-7);
      		border: get_vw(4) solid transparent;
      		border-bottom: get_vw(7) solid #fff;
    		}
      }
		}
		.footer__top {
  		display: flex;
  		align-items: flex-start;
  		justify-content: space-between;
  		margin-bottom: 120px;
  		@include mix_mediaSp {
        display: block;
        margin-bottom: get_vw(40);
      }
		}
		.footer__logo {
  		display: block;
  		width: 205px;
  		@include mix_mediaSp {
  		  width: get_vw(120);
  		  margin: 0 auto get_vw(50);
      }
		}
		.footer__nav {
  		display: flex;
  		align-items: flex-start;
  		justify-content: space-between;
  		width: 500px;
  		@include mix_mediaSp {
  		  width: get_vw(280);
  		  margin: 0 auto;
  		}
		}
		.footer__nav__item {
  		width: 230px;
  		padding-top: 18px;
  		border-top: 1px dashed #000;
  		@include mix_mediaSp {
  		  width: get_vw(130);
        padding-top: get_vw(12);
  		}
		}
		.footer__nav__head {
  		margin-bottom: 12px;
  		font-size: 1.8rem;
  		color: #e9342b;
  		line-height: 1;
  		@include mix_mediaSp {
    		margin-bottom: get_vw(12);
    		@include fontSize(14);
      }
		}
		.footer__nav__list {
    	font-feature-settings: normal;
    	letter-spacing: 0;
		}
		.footer__nav__list__item {
  		margin-bottom: 8px;
  		margin-left: 1em;
  		font-size: 1.3rem;
  		font-weight: 500;
    	text-indent: -1em;
  		@include mix_mediaSp {
    		margin-bottom: get_vw(5);
    		@include fontSize(10);
      }
		}
		.footer__bottom {
  		display: flex;
  		align-items: flex-end;
  		justify-content: space-between;
  		@include mix_mediaSp {
        display: block;
      }
		}
		.footer__sns {
  		max-width: 236px;
  		@include mix_mediaSp {
        display: none;
      }
		}
		.footer__author {
  		text-align: right;
  		@include mix_mediaSp {
  		  text-align: center;
      }
		}
		.footer__author__logo {
  		width: 113px;
  		margin-bottom: 20px;
  		margin-left: auto;
  		@include mix_mediaSp {
  		  width: get_vw(80);
  		  margin: 0 auto get_vw(12);
  		}
		}
		.footer__author__copyright {
  		font-size: 1.2rem;
  		line-height: 1;
  		@include mix_mediaSp {
    		@include fontSize(10);
      }
		}
	}
}