/*--------------------------
 header
----------------------------*/
.header {
	@at-root {
		& {
  		position: fixed;
  		top: 0;
  		right: 0;
  		left: 0;
  		border-bottom: 1px solid #d2d2d2;
  		background-color: #fff;
  		z-index: 100;
		}
		.header__top {
  		position: relative;
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		height: 100px;
  		border-bottom: 1px solid #d2d2d2;
  		@include mix_mediaSp {
  	  	justify-content: space-between;
    		height: get_vw(58);
        padding: 0 40 / 768 * 100%;
  		}
		}
		.header__category {
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		height: 90px;
  		@include mix_mediaSp {
    		height: get_vw(44);
  		}
		}
		.header__category__item {
  		padding: 0 28px;
  		@include mix_mediaSp {
  	  	padding: 0 get_vw(10);
  		}
  		a {
    		position: relative;
    		display: inline-block;
    		font-size: 1.6rem;
    		font-weight: 500;
    		white-space: nowrap;
        @include mix_mediaSp {
					@include fontSize(13);
        }
    		&::before {
      		content: "";
      		position: absolute;
      		right: 0;
      		top: 100%;
      		left: 0;
      		display: block;
      		width: 100%;
      		height: 1px;
          @include transition(all 0.2s);
      		@include mix_mediaSp {
        		height: get_vw(2);
      		}
    		}
    		&:hover {
      		&::before {
      		  height: 3px;
        		@include mix_mediaSp {
          		height: get_vw(2);
        		}
      		}
    		}
  		}
  		+ .header__category__item {
    		border-left: 1px solid #d2d2d2;
  		}
  		&:nth-of-type(1) {
    		a {
      		&::before {
      		  background-color: #478cbd;
      		}
    		}
  		}
  		&:nth-of-type(2) {
    		a {
      		&::before {
        		background-color: #6cb5ac;
      		}
    		}
  		}
  		&:nth-of-type(3) {
    		a {
      		&::before {
       	  	background-color: #c175ba;
      		}
    		}
  		}
  		&:nth-of-type(4) {
    		a {
      		&::before {
            background-color: #b6b54c;
      		}
    		}
  		}
  		&:nth-of-type(5) {
    		a {
      		&::before {
         		background-color: #f0675f;
      		}
    		}
  		}
  		&:nth-of-type(6) {
    		a {
      		&::before {
        	  	background-color: #a3cb47;
      		}
    		}
  		}
  		&:nth-of-type(7) {
    		a {
      		&::before {
         		background-color: #f9a743;
      		}
    		}
  		}
  		&:nth-of-type(8) {
    		a {
      		&::before {
            background-color: #de6189;
      		}
    		}
  		}
  		&:nth-of-type(9) {
    		a {
      		&::before {
        		background-color: #ffed39;
      		}
    		}
  		}
  		&:nth-of-type(10) {
    		a {
      		&::before {
        		background-color: #666aa9;
      		}
    		}
  		}
  		&:nth-of-type(11) {
    		a {
      		&::before {
         		background-color: #f37d4f;
      		}
    		}
  		}
  		&:nth-of-type(12) {
    		a {
      		&::before {
      	  	background-color: #008fb7;
      		}
    		}
  		}
		}
		.header__logo {
  		width: 178px;
  		@include mix_mediaSp {
    		width: get_vw(125);
  		}
		}
		.header__icn {
  		position: absolute;
  		top: 0;
  		right: 40px;
  		bottom: 0;
  		display: flex;
  		justify-content: flex-end;
  		align-items: center;
  		@include mix_mediaSp {
    		position: static;
  		}
		}
		.header__icn__item {
  		position: relative;
  		width: 50px;
  		margin-left: 10px;
  		&.-menu {
    		z-index: 210;
  		}
  		@include mix_mediaSp {
    		width: get_vw(38);
    		margin-left: get_vw(8);
  		}
		}
		.header__menu {
  		position: relative;
  		display: block;
  		width: 50px;
  		height: 50px;
  		border-radius: 50%;
  		background-color: #5a918a;
  		&[data-nav-open="true"] {
    		.header__menu__item {
      		&.-top {
        		margin-top: -1px;
        		@include rotate(225deg);
      		}
      		&.-middle {
        		opacity: 0;
      		}
      		&.-bottom {
        		margin-top: -1px;
        		@include rotate(315deg);
      		}
    		}
  		}
  		@include mix_mediaSp {
    		width: get_vw(38);
        height: get_vw(38);
  		}
		}
		.header__menu__item {
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		display: block;
  		width: 20px;
  		height: 2px;
  		background-color: #fff;
  		margin: -1px 0 0 -10px;
      @include transition(all 0.3s);
  		&.-top {
    		margin-top: -8px;
  		}
  		&.-bottom {
    		margin-top: 6px;
  		}
  		@include mix_mediaSp {
    		width: get_vw(16);
        height: get_vw(2);
        margin-left: get_vw(-8);
    		&.-top {
      		margin-top: get_vw(-7);
    		}
    		&.-bottom {
      		margin-top: get_vw(5);
    		}
      }
		}
		.header__nav {
  		position: fixed;
  		top: 0;
      right: -600px;
  		bottom: 0;
  		width: 506px;
  		background-color: rgba(#fff, 0.95);
      z-index: 200;
      @include transition(all 0.3s);
			@include mix_mediaSp {
				width: 100%;
        right: -120%;
			}
  		&[data-nav-open="true"] {
    		right: 0;
      }
		}
		.header__nav__wrap {
  		height: 100%;
  		padding: 100px 40px 60px 80px;
  		overflow: auto;
			@include mix_mediaSp {
  	  	padding: get_vw(75) get_vw(65) get_vw(40);
  		}
		}
		.header__nav__list {
  		margin-bottom: 50px;
			@include mix_mediaSp {
  	  	margin-bottom: get_vw(40);
  		}
		}
		.header__nav__list__item {
  		+ .header__nav__list__item {
    		margin-top: 30px;
  			@include mix_mediaSp {
    	  	margin-top: get_vw(30);
    		}
  		}
  		a {
    		display: block;
  		}
  		.en {
    		display: block;
    		margin-bottom: 12px;
    		font-size: 4.4rem;
    		font-weight: 300;
    		line-height: 1;
  			@include mix_mediaSp {
    	  	margin-bottom: get_vw(6);
					@include fontSize(29);
    		}
  		}
  		.jp {
    		display: block;
    		font-size: 1.6rem;
    		font-weight: 500;
    		line-height: 1;
  			@include mix_mediaSp {
					@include fontSize(12);
    		}
  		}
		}
		.header__nav__sns {
  		max-width: 236px;
			@include mix_mediaSp {
  			max-width: none;
  		}
		}
		.header__nav__banner {
  		display: block;
  		width: 210px;
  		margin-bottom: 36px;
			@include mix_mediaSp {
  			width: get_vw(125);
  			margin-bottom: get_vw(18);
  		}
		}
	}
}













